<mat-toolbar class="mat-elevation-z8 no-padding-left">
  <button class="no-padding-left" mat-icon-button (click)="sidenav.toggle()">
    <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
    <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
  </button>
  <b>User Management System</b>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
    <mat-nav-list>
      <mat-list-item *ngFor="let item of routes">
        <button mat-button class="menu-button" routerLink={{item.route}} (click)="clickColorChange(item.id)"
        [ngStyle]="{color: item.color }"
        >
          <mat-icon>{{item.icon}}</mat-icon>
          <span>{{item.name}}</span>
        </button>
        <mat-divider></mat-divider>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content mat-elevation-z8">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
